img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.weapon {
  display: flex;
  grid-area: Weapon;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.helm {
  display: flex;
  grid-area: Helm;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.offhand {
  display: flex;
  grid-area: Offhand;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.bodyArmour {
  display: flex;
  grid-area: BodyArmour;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.ring {
  display: flex;
  grid-area: Ring;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.ring2 {
  display: flex;
  grid-area: Ring2;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.amulet {
  display: flex;
  grid-area: Amulet;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.gloves {
  display: flex;
  grid-area: Gloves;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.boots {
  display: flex;
  grid-area: Boots;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}

.belt {
  display: flex;
  grid-area: Belt;
  background-color: #189cf3;
  padding: 2%;
  border: 0.2rem solid black;
  border-radius: 5px;
}
